<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding ion-no-margin">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin">
        
        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: green; margin-bottom: 10px;"
                >
                  Accepted
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been accepted
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: green; margin-bottom: 10px;"
                >
                  Accepted
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been accepted
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: red; margin-bottom: 10px;"
                >
                  Rejected
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been rejected
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: rgb(4, 87, 4); margin-bottom: 10px;"
                >
                  Completed
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been completed
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: green; margin-bottom: 10px;"
                >
                  Accepted
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been accepted
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: green; margin-bottom: 10px;"
                >
                  Accepted
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been accepted
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: red; margin-bottom: 10px;"
                >
                  Rejected
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been rejected
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: rgb(4, 87, 4); margin-bottom: 10px;"
                >
                  Completed
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been completed
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: green; margin-bottom: 10px;"
                >
                  Accepted
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been accepted
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: green; margin-bottom: 10px;"
                >
                  Accepted
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been accepted
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: red; margin-bottom: 10px;"
                >
                  Rejected
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been rejected
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

        <ion-card
          class="ion-no-padding ion-no-margin"
          style="border-radius: 0%; margin-bottom: 2px; padding-right: 10px; padding-top: 20px; padding-left: 17px;"
        >
          <div class="row">
            <div class="col1">
              <ion-label class="ion-text-wrap">
                <h2
                  style="font-weight: bold; color: rgb(4, 87, 4); margin-bottom: 10px;"
                >
                  Completed
                </h2>
                <h2 style="margin-bottom: 10px;">
                  Your Appointment has been completed
                </h2>
              </ion-label>
            </div>
            <div class="col2" style="float: right;">
              <ion-text style="font-size: 14px;">2019-12-12 04:30pm</ion-text>
            </div>
          </div>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
