<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>

  <div style="text-align: center; margin-top: 40px;"></div>
</ion-header>

<ion-content>
  <ion-title color="primary" style="padding: 30px 30px 0 30px;">About us</ion-title>
  <div style="padding: 30px;">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae sequi dolorum
    incidunt, ab accusamus laudantium ea? At quidem delectus assumenda sed fuga
    culpa accusamus esse, quo, iste tempore vero ea. Lorem ipsum dolor, sit amet
    consectetur adipisicing elit. Tempora, dolore quasi? Eaque vel odio
    molestias laudantium voluptatibus adipisci fugit magni cum animi ea,
    deserunt molestiae sequi unde ducimus quod amet? Lorem ipsum dolor sit, amet
    consectetur adipisicing elit. Et laboriosam, dignissimos ipsa pariatur nihil
    natus aut quisquam repudiandae, incidunt ad iste. Consectetur necessitatibus
    at et nesciunt commodi assumenda? Nemo, distinctio!
  </div>
</ion-content>